/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/docs
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.local
.env prod1
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/laradock
/.vscode
/false
/database/seeds/TestAgentSeeder.php
/database/factories
.scribe
/docker-compose.yml
/Dockerfile
/Dockerfile.dev
/docker
/storage/api-docs
.vapor
/.history
.DS_Store
Dockerfile
.env.example
bitbucket-pipeline
bitbucket-pipelines.yml
/deploy
/deploy/*
composer.lock
/local
